@import "../../../assets/scss/vars";

.login-card {
  min-width: 250px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  .logo {
    background-image: url("../../../assets/images/arvin-logo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .signup-link-wrapper {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    .forgot-link {
      color: $app_blue;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      &:hover{
        opacity: 1;
      }
    }
  }
}

mat-card-footer {
  margin-top: 20px;
  .error-msg {
    background: transparent;
    min-width: 250px;
    color: $warning-red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    span {
      font-size: 14px;
      color: $warning-red;
    }
  }
}

