<div class="app-patient-record-wrapper">

  <div class="app-user-view">

    <mat-tab-group (selectChange)="onTabChange($event)" (selectedTabChange)="onTabChange($event)">
      <mat-tab class="tab-label" label="PATIENT">
        <div class="table-wrapper">
          <div class="scroll-table">

          </div>
        </div>
      </mat-tab>
      <mat-tab class="tab-label" label="DOCTOR">
        <div class="table-wrapper">
          <div class="scroll-table">

          </div>
        </div>
      </mat-tab>
    </mat-tab-group>




  </div>






</div>
