
<div class="app-dialog" >
  <div class="app-dialog-header">
    <h3 class="app-dialog-title">Change Password</h3>
    <mat-icon (click)=cancel() class="close-btn app-close-btn">close</mat-icon>
  </div>
  <div class="app-dialog-content">
    <form (ngSubmit)="submit()" [formGroup]="changePasswordForm">

      <mat-form-field class="dialog-input-password">
        <input matInput placeholder="Old Password" formControlName="old_password" required type="{{showPassword ? 'text' : 'password'}}">

        <!--<mat-error *ngIf="changePasswordForm.get('old_password').hasError('required')">-->
          <!--<strong>Password Required</strong>-->
        <!--</mat-error>-->
      </mat-form-field>

      <mat-form-field class="dialog-input-password">
        <input matInput placeholder="New Password" formControlName="new_password" required type="{{showPassword ? 'text' : 'password'}}">
        <!--<mat-error *ngIf="changePasswordForm.get('new_password').hasError('required')">-->
          <!--<strong>{{'passwordRequired' | translate}}</strong>-->
        <!--</mat-error>-->

      </mat-form-field>

      <div class="dialog-checkbox">
        <mat-checkbox class="dialog-check" [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}">Show Password</mat-checkbox>
      </div>
      <p class="conditionTitle">Password Must Contain: </p>


      <!--<div class="list-demands" *ngFor="let v of validators_array">-->
        <!--<div disabled class="text" [ngClass]="{'conditionFulfilled': !changePasswordForm.get('new_password').hasError(v[0])}">-->
          <!--<span class="dot" ></span> {{ v[1] | translate}}-->
        <!--</div>-->
      <!--</div>-->

      <div class="app-dialog-action">
        <button class="btn" [disabled]="changePasswordForm.get('old_password').hasError('required') || changePasswordForm.get('new_password').hasError('required')" mat-button type="submit" (click)="change()" >Change</button>
      </div>

    </form>
  </div>

</div>
