@import "../../../../assets/scss/vars";


.app-dialog {
  //width: 85vw;
  height: 520px;
  overflow: hidden;
  @media screen and (max-width: 1530px) {
    width: 400px;
  }
  @media screen and (max-width: 992px) {
    width: 400px;
  }
  @media screen and (max-width: 768px) {
    width: 400px;
  }
  @media screen and (max-width: 550px) {
    width: 75vw;
  }
  @media screen and (max-width: 415px) {
    width: 100%;
  }

  .app-dialog-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $dialog-title-background;
    .app-dialog-title {
      border-radius: 4px;
      max-width: 250px;
      color: white;
      margin: auto 16px;
      font-size: 18px;
      font-weight: 400;
    }
    .app-close-btn {
      color: white;
      margin: auto 16px;
    }
  }
.more-top{
  margin-top: 20px;
}
  .doctor-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../../../../assets/images/profile_dr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .dr_name{
    max-width: 250px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin: auto;
  }
  .app-dialog-content {
    height: calc(100% - 96px);
    width: calc(100% - 48px);
    padding: 24px;
  }

  form {
    //padding: 24px;
    //margin-top: 24px;
    //width: calc(100% - 40);
    //height: calc(100% - 112);
    float: left;
  }

    mat-form-field {
      width: 100%;   // ukoliko se da bilo kkava custom sirina input pulju dolazi do flikerovanja
    }
    .subtitle {
      height: 60px;
      font-size: 20px;
      font-weight: 500;
    }
    .dialog-input-password {
      margin: 18px 0;
      padding: 2px;
      //width: 100%;
    }
    .dialog-checkbox {
      height: 30px;
      display: flex;
      padding: 2px;
      .dialog-check {
        margin: auto 0;
      }
    }
    .conditionTitle {
      margin: 16px 0;
    }

  .list-demands {
    margin: 4px;
    .text {
      color: black;
      font-size: 12px;
      .dot {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        border-radius: 8px;
        background: rgba(255, 61, 0, 0.87);
      }
      &.conditionFulfilled{
        opacity: 0.5;
      }
    }
  }

  .app-dialog-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn {
      text-transform: uppercase;
      width: 100%;
      height: 36px;
      padding: 0 6px;
      margin: 6px 8px;
    }
  }
}
