<mat-card class="login-card">
  <!--<div class="logo"></div>-->
<div class="signup-form">
  <form class="signup-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-form-field>
      <input type="email" matInput [formControlName]="'username'" placeholder="username"/>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput [formControlName]="'password'" placeholder="password"/>
    </mat-form-field>
    <div class="signup-form"  [formGroupName]="'data'">
      <mat-form-field>
        <input type="text" matInput [formControlName]="'first_name'" placeholder="first name"/>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput [formControlName]="'last_name'" placeholder="last name"/>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput [formControlName]="'ssn'" placeholder="social security number"/>
      </mat-form-field>
      <mat-radio-group class="role-group" [formControlName]="'role_flags'">
        <mat-radio-button class="role" *ngFor="let r of refObjectKeys(loginRoles)" value="{{loginRoles[r]}}">{{r.toLowerCase()}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button type="submit" class="md-raised login-btn" mat-button [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
  <mat-card-footer>
    <div *ngIf="apiError" class="error-msg" [@errorAnimate]>
      <span>{{apiError}}</span>
      <mat-icon (click)="reset_error()">close</mat-icon>
    </div>
  </mat-card-footer>
</div>
</mat-card>
