<div *ngIf="loggedUser.hasPin" class="app-medicals-records-wrapper">

  <form [formGroup]="searchRecordsForm">

    <mat-form-field class="input-container">
      <input matInput autofocus placeholder="SSN" name="ssn" [maxlength]="16"
             [formControlName]='"ssn"' type="number" required>
      <mat-error *ngIf="searchRecordsForm.get('ssn').hasError('required')">
        <strong>{{'SSN is required'}}</strong>
      </mat-error>
    </mat-form-field>
    <br>

  </form>

  <mat-input-container class="input-container" >
    <input matInput autofocus placeholder="First name"  type="text">
  </mat-input-container>
  <br>

  <mat-input-container class="input-container">
    <input matInput autofocus placeholder="Last name" type="text">
  </mat-input-container>
  <br>

  <button mat-raised-button class="btn" (click)="getRecord()" [disabled]="searchRecordsForm.get('ssn').value.toString().length !== 16" > GET RECORD</button>

</div>

<div *ngIf="!loggedUser.hasPin" class="app-medicals-records-wrapper">

  <form [formGroup]="setPinForm">

    <mat-form-field class="input-container">
      <input matInput autofocus placeholder="PIN" name="pin" [maxlength]="10"
             [formControlName]='"pin"' type="text" required>
      <mat-error *ngIf="setPinForm.get('pin').hasError('required')">
        <strong>{{'PIN is required'}}</strong>
      </mat-error>
    </mat-form-field>
    <br>

  </form>

  <button mat-raised-button class="btn" (click)="setPin()" [disabled]="setPinForm.get('pin').value.length !== 10" > SET PIN</button>

</div>
