<div *ngIf="loggedUser.hasPin" class="app-medicals-records-wrapper">

  <form [formGroup]="searchRecordsForm">

    <mat-form-field class="input-container">
      <input matInput autofocus placeholder="SSD" name="ssd" [maxlength]="10"
             [formControlName]='"ssd"' type="number" required>
      <mat-error *ngIf="searchRecordsForm.get('ssd').hasError('required')">
        <strong>{{'SSD is required'}}</strong>
      </mat-error>
    </mat-form-field>
    <br>

  </form>

  <mat-input-container class="input-container" >
    <input matInput autofocus placeholder="First name"  type="text">
  </mat-input-container>
  <br>

  <mat-input-container class="input-container">
    <input matInput autofocus placeholder="Last name" type="text">
  </mat-input-container>
  <br>

  <button mat-raised-button class="btn" (click)="getRecord()" [disabled]="searchRecordsForm.get('ssd').value.toString().length < 10" > GET RECORD</button>

</div>

<div *ngIf="!loggedUser.hasPin" class="app-medicals-records-wrapper">

  <form [formGroup]="setPinForm">

    <mat-form-field class="input-container">
      <input matInput autofocus placeholder="PIN" name="pin" [maxlength]="16"
             [formControlName]='"pin"' type="number" required>
      <mat-error *ngIf="setPinForm.get('pin').hasError('required')">
        <strong>{{'PIN is required'}}</strong>
      </mat-error>
    </mat-form-field>
    <br>

  </form>

  <button mat-raised-button class="btn" (click)="setPin()" [disabled]="setPinForm.get('pin').value.toString().length < 16" > SET PIN</button>

</div>
