<!--<p>-->
  <!--dashboard works!-->
<!--</p>-->
<!--<button mat-raised-button color="primary" (click)="logout()">Logout</button>-->

<h1>WELCOME</h1>

<!--<mat-sidenav-container class="example-sidenav-fab-container"-->
                       <!--[ngClass]="{'move-left': ms.menuToggle, 'no-scroll': (ms.menuToggle || ms.closeMobileOverlay)}">-->
  <!--&lt;!&ndash;<div class="spiner-wrapper" [hidden]="!ms.showLoader">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-spinner class="loader" [strokeWidth]="5"></mat-spinner>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="mobile-overlay" *ngIf="ms.closeOverlay" (click)="ms.toggle_sidenav(); closeSideMenu();"></div>&ndash;&gt;-->
  <!--<mat-sidenav class="side-menu" [ngClass]="{'untoggled': ms.menuToggle, 'hide-sidemenu': !ms.menuToggle}" #sidenav-->
               <!--mode="side" opened="true">-->
    <!--<app-side-menu></app-side-menu>-->
  <!--</mat-sidenav>-->
  <!--<app-header></app-header>-->
  <!---->
  <!---->
  <!--this is dashborad-->
<!--</mat-sidenav-container>-->







