@import "../../../assets/scss/vars";

.forgot-form {
  display: flex;
  flex-direction: column;
}
.login-card {
  min-width: 250px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  .logo{
    background-image: url("../../../assets/images/arvin-logo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
}
mat-card-footer {
  margin-top: 20px;
  .error-msg {
    background: transparent;
    min-width: 250px;
    color: $warning-red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    span {
      font-size: 14px;
      color: $warning-red;
    }
  }
}

